* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --BodyBgColor: #1e1e1e;
  --DashboardBoxBgColor: #161718;
  --TextContentColor: #dee4ee;
  --DashboardFrontColor: #151617;
  --activeOptionColor: #acecfd;
  --bg-toggle-color: #fff;
  --JoindiscordHeadingColor: #fdacac;
  --sidebar-icon-color: #dee4ee;
  --Notifcation-color: #fff495;
  --MainHeadingColor: #fff;

  /* dots Color */
  --top-second-dot: #fdacac;
  --top-first-dot: #acecfd;

  /* captchas colors */
  --open-new-icon-color: #acecfd;
  --play-icon-color: #fdacac;
  --save-icon-color: #acfdb4;

  /* profile colors */
  --credit-card-1-bg-color: #cdf4fe;
  --credit-card-2-bg-color: #19191a;
  --credit-card-3-bg-color: #dee4ee;
  --credit-card-1-color: #8b8b8b;
  /* --credit-card-2-color: #8b8b8b; */
  --credit-card-3-color: #353535;

  /* box shadow color */
  --box-shadow-color-1: rgba(9, 10, 16, 0.25);
  --box-shadow-color-2: rgba(0, 0, 0, 0.25);

  /* Tasks Color */
  --create-task-btn3: #c190ff;
}

.dashobard-btn-black {
  font-size: 11px;
  padding: 0.6rem 0rem;
  border: none;
  outline: none;
  color: var(--TextContentColor);
  background-color: var(--DashboardBoxBgColor);
  border-radius: 2px;
  cursor: pointer;
  font-weight: 400;
  box-shadow: 1px 2px 4px var(--box-shadow-color-1),
    0px 3px 4px var(--box-shadow-color-2);
}
body {
  background-color: var(--BodyBgColor);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  color: var(--TextContentColor);
  font-family: MontserratREG;
}

.active-option-heading {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  color: #dee4ee;
}

.dashboard-container,
.license-activation-container {
  background-color: var(--DashboardBoxBgColor);
  height: 600px;
  width: 1058px;
  position: relative;
  padding: 2rem 1.5rem;
  border-radius: 10px;
}

.dashboard-container > .top-dots {
  position: absolute;
  right: 2%;
  top: 1%;
}

.top-dots > #top-first-dot {
  margin-right: 4px;
}

.top-dots > #top-first-dot > path,
#create-account-popup-top-first-dot > path {
  fill: var(--activeOptionColor);
}
.top-dots > #top-second-dot > path,
#create-account-popup-top-second-dot > path {
  fill: var(--top-second-dot);
  cursor: pointer;
}

.dashboard-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard-container-header .logo {
  display: flex;
  align-items: center;
}
.dashboard-container-header .logo > * + * {
  margin-left: 8px;
}
.organization-name {
  color: #2f2f31;
  font-weight: 700;
  font-size: 17px;
}
.organization-name > span {
  color: var(--MainHeadingColor);
  font-weight: 500;
}
.header-right {
  display: flex;
  align-items: center;
}
.header-right > .icons {
  display: flex;
  align-items: center;
}
.header-right > .icons > * {
  cursor: pointer;
}

.header-right > .icons > #notification-icon {
  margin-right: 8px;
}
.header-right > .icons > #notification-icon > path {
  fill: var(--Notifcation-color);
}

.profile {
  display: flex;
  align-items: center;
  background-color: var(--DashboardFrontColor);
  box-shadow: 2px 3px 4px var(--box-shadow-color-1),
    -2px -2px 4px var(--box-shadow-color-2);
  padding: 0.4rem 1.5rem;
  margin: 0px 3rem 0px 1rem;
  border-radius: 11px;
}

.profile > .profile-pic {
  background-image: url("../../images/avatar/avatar.png");
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.profile > .profile-name {
  margin-left: 20px;
  font-size: 10px;
}

/* Body Start */
.dashboard-container-body {
  margin-top: 20px;
  display: flex;
  height: 90%;
}
.dashboard-container-body > .d-none {
  display: none;
}
.dashboard-container-body > * + * {
  margin-left: 2rem;
}

.side-bar {
  background-color: var(--DashboardFrontColor);
  width: 148px;
  overflow: hidden;
  padding: 1rem 1rem;
  border-radius: 5px;
  box-shadow: 2px 3px 4px var(--box-shadow-color-1),
    -2px -2px 4px var(--box-shadow-color-2);
  height: 465px;
  position: relative;
}

.side-bar .options .option {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 5px;
}

.side-bar .options .option .icon-wrapper {
  width: 20px;
  text-align: center;
  margin-right: 5px;
}
#sidebar-svg > path {
  fill: var(--TextContentColor);
}
.side-bar .options .option > p {
  font-size: 11px;
  padding-top: 2px;
  padding: 0.3rem 0rem;
}
.side-bar .options .option > p:hover {
  color: var(--activeOptionColor);
}

.side-bar .options .option > .icon-wrapper,
.side-bar .options .option > p {
  pointer-events: none;
}

.option.active-option {
  color: var(--activeOptionColor);
}

/* side bar btns */
.side-bar-btns {
  margin-top: 20px;
}
.side-bar-btns button {
  width: 100%;
  font-size: 11px;
  padding: 0.6rem 0rem;
  margin-bottom: 5px;
  border: none;
  outline: none;
  color: var(--TextContentColor);
  background-color: var(--DashboardBoxBgColor);
  border-radius: 2px;
  cursor: pointer;
  font-weight: 400;
  box-shadow: 2px 3px 4px var(--box-shadow-color-1),
    -2px -2px 4px var(--box-shadow-color-2);
  font-size: 9px;
}

.side-bar .version {
  color: var(--TextContentColor);
  font-size: 8px;
  text-align: center;
  margin: 0.7rem 0rem;
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translateX(-50%);
}
.license-activation-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.license-activation-wrapper > small {
  font-size: 8px;
  color: var(--TextContentColor);
}
.activation-dot {
  width: 8px;
  height: 8px;
  background-color: var(--activeOptionColor);
  border-radius: 50%;
  margin-right: 7px;
}
